# Tic-Tac-Toe Modified Game Analysis

## Background Information
Tic-Tac-Toe is well known as a strategy game where the result is guaranteed to be a draw provided that both players are experts in this game. However, this project aims to investigate the gameplay of Tic-Tac-Toe with a slight change in its rules. Namely, only three markers are available for each player. The first three moves follow the basic rule of the classic Tic-Tac-Toe game, while starting from the fourth move, each player has to relocate one of their markers on board to another empty space. This project utilizes ideas from Reinforcement Learning to determine if there is a strategy to guarantee the winning/losing/draw of the players, or, if the result of this game is at some level of randomness.

In [3]:
import numpy as np
import pandas as pd
from sympy.utilities.iterables import multiset_permutations as perm

In [183]:
valid_lines = [[0, 1, 2], [3, 4, 5], [6, 7, 8], [0, 3, 6], [1, 4, 7], [2, 5, 8], [0, 4, 8], [2, 4, 6]]
def initialize_reward(row):
    X_win = row.index[row=='X'].tolist() in valid_lines
    O_win = row.index[row=='O'].tolist() in valid_lines
    if X_win and O_win:
        return 101  # A customized error code to mark impossible situations where both players are winning
    return 1 * X_win + (-1) * O_win  # 1 for player X winning, -1 for player O, 0 for none.

In [184]:
def find_successor_X(row):
    O_same = df_6.loc[(df[row.index[row=='O']]=='O').all(axis=1)].drop(columns=["reward_X"])
    diff_count = (O_same != (row.drop(["reward_X"]))).sum(axis=1)
    return diff_count.index[diff_count==2].tolist()

In [185]:
def find_successor_O(row):
    X_same = df_6.loc[(df[row.index[row=='X']]=='X').all(axis=1)].drop(columns=["reward_X", "successor_X"])
    diff_count = (X_same != row.drop(["reward_X", "successor_X"])).sum(axis=1)
    return diff_count.index[diff_count==2].tolist()

In [188]:
six_marks = np.array([' ', ' ', ' ', 'X', 'X', 'X', 'O', 'O', 'O'])
df_6 = pd.DataFrame(list(perm(six_marks)))
df_6["reward_X"] = df_6.apply(initialize_reward, axis=1)
df_6 = df_6.loc[df_6["reward_X"]!=101].reset_index(drop=True)  # Remove all impossible cases identified in function initialize_ward
df_6["successor_X"] = df_6.apply(find_successor_X, axis=1)
df_6["successor_O"] = df_6.apply(find_successor_O, axis=1)
df_6["gameover"] = df_6["reward_X"]!=0

In [189]:
df_6

,0,1,2,3,4,5,6,7,8,reward_X,successor_X,successor_O,gameover
0,,,,O,O,X,O,X,X,0,"[94, 102, 103, 363, 371, 372, 1128, 1136, 1137]","[19, 29, 33, 139, 149, 153, 557, 567, 571]",False
1,,,,O,O,X,X,O,X,0,"[95, 100, 105, 364, 369, 374, 1129, 1134, 1139]","[20, 30, 34, 140, 150, 154, 558, 568, 572]",False
2,,,,O,O,X,X,X,O,0,"[96, 101, 104, 365, 370, 373, 1130, 1135, 1138]","[21, 31, 35, 141, 151, 155, 559, 569, 573]",False
3,,,,O,X,O,O,X,X,0,"[88, 111, 112, 357, 380, 381, 1122, 1145, 1146]","[22, 36, 39, 142, 156, 159, 560, 574, 577]",False
4,,,,O,X,O,X,O,X,0,"[89, 109, 114, 358, 378, 383, 1123, 1143, 1148]","[23, 37, 40, 143, 157, 160, 561, 575, 578]",False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1663,X,X,X,O,,O,,O,,1,"[519, 524, 544, 1284, 1289, 1309, 1553, 1558, ...","[1650, 1652, 1657, 1659, 1661, 1662, 1664, 1666]",True
1664,X,X,X,O,,O,O,,,1,"[521, 522, 545, 1286, 1287, 1310, 1555, 1556, ...","[1651, 1652, 1658, 1660, 1661, 1662, 1663, 1667]",True
1665,X,X,X,O,O,,,,O,1,"[529, 532, 537, 1294, 1297, 1302, 1563, 1566, ...","[1653, 1654, 1656, 1659, 1660, 1662, 1666, 1667]",True
1666,X,X,X,O,O,,,O,,1,"[528, 533, 538, 1293, 1298, 1303, 1562, 1567, ...","[1653, 1655, 1657, 1659, 1661, 1663, 1665, 1667]",True
1667,X,X,X,O,O,,O,,,1,"[530, 531, 539, 1295, 1296, 1304, 1564, 1565, ...","[1654, 1655, 1658, 1660, 1661, 1664, 1665, 1666]",True